input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.inventory-items {
	width: 280px; height: 273px;
	flex-wrap: wrap;
	overflow-x: hidden;
	overflow-y: auto;
}
.inventory-items .row {
    border: 1px solid var(--purple);
}
.inventory-items .row {
    width: 64px;
    height: 64px;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin: .1rem;
}
#inventory .console-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
}
.body-part,
.user-icon {
    height: 34px;
    width: 34px;
    border: 1px solid var(--purple);
}
.equipment {
    margin: 0.05rem;
    padding: 0.05rem;
}
#inventory .inventory-button,
#notification-box .inventory-button,
#present .present-button {
    padding: .5rem;
    border-left: 2px solid var(--indigo);
    border-top: 2px solid var(--indigo);
    border-right: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    outline: 0;
    color: var(--white);
    background: var(--indigo-dark);
    font-family: "Audiowide", monospace;
}
#inventory .inventory-button:active,
#notification-box .inventory-button:active,
#present .present-button:active {
    border-left: 2px solid var(--black);
    border-top: 2px solid var(--black);
    border-right: 2px solid var(--indigo);
    border-bottom: 2px solid var(--indigo)
}
.userinfo,
.examine,
.item-submenu-detailed,
.actions {
    font-size: 80%;
    margin: .5rem 0;
}
.examine {
	max-width: 402.8px; 
}
#inventory {
    width: auto;
	height: 580px;
}
.inventory-item {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.inventory-item > .amount,
.submenu-item {
    font-size: 80%;
    width: 100%;
    padding: 0.1rem;
}
.inventory-item > .amount {
    pointer-events: none;
}
.inventorySelectedItem {
    background-color: rgba(255,255,255,0.1);
}
#balance,
.submenu-item,
#claimNewNFT,
#claimTimedNFT {
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid var(--purple);
}
#balance {
    margin: 1rem auto;
}
.submenu-item {
    margin: 0.1rem;
}
#item-submenu {
    overflow-y: hidden;
    overflow-x: auto;
}
.actions-wrapper {
    flex: 1;
}
/*
Just realized we haven't yet used CSS files for easter eggs so here's one:
sapqnez.qahkhjwoum63
*/
.actions button,
#confirmERC721Transfer,
#notification-box .inventory-button {
    width: 64px;
}
.actions button {
    margin: 0 auto 0.1rem auto;
}
.font-size-70percent {
    font-size: 70%;
}
.forceFont {
    font-family: "Audiowide", monospace;
    color: var(--white);
}
input {
    border: 0;
    color: white;
    font-family: Audiowide, monospace;
}
#transferVidyaAmount,
#receiverVidyaAddress {
    background: transparent;
    border: 1px solid var(--purple);
}
.notification-box {
    background: var(--bg-black-transparent);
    border: 3px solid var(--neon-magenta);
    position: absolute;
    
    opacity: 0;
    bottom: -250px;
    
    right: 0;
    width: 250px;
    height: 250px;
    transition: all 0.3s;
    z-index: 10000;
}
.notification-message {
    font-size: 80%;
}
.notification-icon {
    width: 64px;
    height: 64px;
    background-image: url(../img/info.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.equip-active {
    -webkit-box-shadow: 3px 3px 10px rgba(170, 9, 170, 0.4), inset 0 0 7px rgba(170, 9, 170, 0.8);
    -moz-box-shadow: 3px 3px 10px rgba(170, 9, 170, 0.4), inset 0 0 7px rgba(170, 9, 170, 0.8);
    box-shadow: 3px 3px 10px rgba(170, 9, 170, 0.4), inset 0 0 7px rgba(170, 9, 170, 0.8);
}
.head-slot {
    position: absolute;
    top: -20px;
    width: 32px;
    height: 32px;
}
#present {
    width: 100%;
    max-width: 420px;
    max-height: 420px;
}
.claim-NFT-outer {
    margin: 1rem auto;
    width: 50%;
    height: 50%;
    font-size: 90%;
}
.claim-NFT-picture {
    width: 128px;
    height: 128px;
}
/****************************
          Scrollbar
****************************/
.inventoryScrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    background-color: var(--neon-magenta);
}

.inventoryScrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: var(--indigo);
}

.inventoryScrollbar::-webkit-scrollbar-thumb {
	background-color: var(--indigo);
	border: 1px solid var(--neon-magenta);
	border-radius: 0;
}